.navbar{
  background-color: black;
  color: rgb(20,232,30);
  border-color: rgb(20,232,30);
  font-family: 'Reem Kufi', sans-serif;
  position: fixed;
  width: 100%;
}
.navbar-default .navbar-brand {
    color: rgb(20,232,30);
    font-family: 'Reem Kufi', sans-serif;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(20,232,30);
    font-family: 'Reem Kufi', sans-serif;

}
body{
    background:black;
}
h1{
  color: rgb(0,234,141);
  font-family: 'Reem Kufi', sans-serif;
}
#container {
   width: 175px;
   height: 175px;
   position: fixed;
   left: 0;
   bottom: 0;
}
#container img {
   /*content:url("images/selfie.jpg");*/
   width: 100%;
   border-radius: 25px;
}
#block2 >h1{
  color:rgb(181,61,255);
}
.pageOne {
  background: url("images/stars.jpg");
  background-size: cover;
  background-position: center;
}
.pageTwo{
  background: url("images/jelly.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
}
.pageThree{
  background: url("images/aurora.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
}
.pageFour{
  background: url("images/caribe.jpg");
  background-size: cover;
  background-position: center;
  height:1000px;
}
.row{
  margin-top:25%;
  font-family: 'Reem Kufi', sans-serif;
}
.white-bg{
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
}

.jumbotron{
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width:60%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(1,126,213);
}
.btn-default {
  font-family: 'Reem Kufi', sans-serif;
  background-color: black;
  border-color: green;
  color: green;
}
.block{
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width:60%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(20,232,30);
}
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*,
*:before,
*:after {
   @include box-sizing(border-box);
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h2 {
   text-align: left;
   color: #00ea8d;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 500px;
   text-align: left;
   margin: 20px left;

  input, textarea {
     border:0; outline:0;
     padding: 2em;
     @include border-radius(8px);
     display:left;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(#00ea8d, 0.1));
     resize: none;

    &:focus {
       @include box-shadow(0 0px 2px rgba(#00ea8d, 1)!important);
    }
  }

  #input-submit {
     color: white;
     background: #00ea8d;
     cursor: pointer;

    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    }
  }

  textarea {
      height: 140px;
  }
}


.half {
  float:inherit;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 100%; }

.left {
     margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
     width: 100%;
     float: none;
     margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
